/**
 * @file
 * Extend wizard progress tracker styles.
 *
 * @see http://nigelotoole.github.io/progress-tracker/
 */

/**
 * Disable hover state because webform wizard progress markers are not clickable.
 */
.webform-progress-tracker .progress-step.has-errors:not(.is-active) .progress-marker::before,
.webform-progress-tracker .progress-step.has-errors:hover .progress-marker::before {
  background-color: #f00;
}

.webform-progress-tracker .progress-step.is-complete:not(.is-active) .progress-marker::before,
.webform-progress-tracker .progress-step.is-complete:hover .progress-marker::before {
  background-color: #23d160;
}
